{% extends 'index.html' %} 

{% block bodycontent %}

    <!-- Navbar with dark blue background -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-navy">
        <div class="container">
            <a class="navbar-brand" href="#">User Profile</a>
        </div>
    </nav>

    <div class="container mt-5">
        <!-- User profile card -->
        <div class="card profile-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {% if profile.profile_pic %}
                        {% set full_path = profile.profile_pic %}
                        {% set filename = full_path.split("/")[-1] %}
                
                        <img src="{{url_for('static',filename='assets/images/'+filename)}}" alt="Profile Picture" class="img-fluid profile-pic">
                        {% elif profile.gender == 'Male' %}
                            <img src="{{url_for('static',filename='assets/images/men-user.png')}}" alt="Default Profile Picture" class="img-fluid profile-pic">
                        {% elif profile.gender == 'Female' %}
                            <img src="{{url_for('static',filename='assets/images/women-user.png')}}" alt="Default Profile Picture" class="img-fluid profile-pic">
                        {%else%}
                        <img src="{{url_for('static',filename='assets/images/default.png')}}" alt="Default Profile Picture" class="img-fluid profile-pic">
                        
                        {% endif %}


                    </div>
                    <div class="col-md-8">
                        <p><strong>Username:</strong> {{ current_user.name}}</p>
                        <p><strong>Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Address:</strong> {{ profile.address }}</p>
                        <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
                        <p><strong>Age:</strong> {{ profile.age }}</p>
                        <!-- Add other profile details as needed -->
                        <a href="/update_profile" class="btn btn-primary">Update Profile</a>
                        <a href="/chg_pswd" class="btn btn-primary">change password</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock  %}

