{% extends 'admin/layout.html' %}

{% block body %}
<form action="/delete_selected_pro" method="post"><div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-0">

            <div class="row mb-2">
                <div class="col-md-6">
                    <h2>Product Manager</h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                            <ul class="alert alert-success flashes ms-3 me-3 w-75  overflow-auto">
                                {{ message }}
                                <button type="button" class="close" onclick="dismissFlashMessage(this)">
                                    <span aria-hidden="true">&times;</span></button></ul>
                   {% endfor %}
                    {% endif %}
                {% endwith %}
                
              
                <a href="/addpro" class="btn btn-primary mb-2">Add Product</a>

                    <button type="submit" class="btn btn-danger mb-2 ml-2 text-md-right" name="delete_selected">Delete Selected</button>
                </div>
            </div>
            <table class="table table-bordered ">
                <thead class="thead-dark">
                    <tr>
                        <th class="py-2 px-3 border-right" style="width: 10%;">Select</th>
                        <th class="py-2 px-3 border-right" style="width: 20%;">Id</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">Product Name</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">Price</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">Description</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">Image</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">SubCategory Name</th>
                        <th class="py-2 px-3 border-right" style="width: 40%;">Category Name</th>
                        <th class="py-2 px-3 border-right">Edit</th>
                        <th class="py-2 px-3 border-right">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in products %}
                    <tr class="text-dark table-dark" >
                        <td class="p-0 text-center" style="width: 10%;"><input type="checkbox" class="categoryCheckbox m-auto" name="selected_product[]" value="{{pro.pid }}"></td>
                        <td class="p-1" style="width: 40%;"><b>{{ pro.pid }}</b></td>
                        <td class="p-1" style="width: 40%;"><b>{{ pro.pname }}</b></td>
                        <td class="p-1" style="width: 40%;"><b>{{ pro.price }}</b></td>
                        <td class="p-1" style="width: 40%;"><b>{{ pro.description}}</b></td>
                        {% set full_path = pro.image1 %}
                        {% set filename = full_path.split("/")[-1] %}


                        <td class="p-1"><center><img  style="width:40px; height: 60px;" src="{{url_for('static',filename='assets/images/'+filename)}}" alt="not "></center> </td> 
                        
                        <!-- <td class="p-1" style="width: 40%;"><b>{{pro.image1}}</b></td> -->

                        <td class="p-1" style="width: 40%;"><b>{{pro.subcategories.sub_name}}</b></td>
                        <td class="p-1" style="width: 40%;"><b>{{pro.category.cname}}</b></td>
                        <td class="p-1 text-center"><a href="/edit_pro/{{pro.pid}}" class="btn btn-warning btn-sm">Edit</a></td>
                        <td class="p-0 text-center"><a href="/delete_pro/{{pro.pid}}" class="btn btn-danger btn-sm deleteCategory">Delete</a></td>
                    </tr>
                    <tr class="bg-dark">
                        <td colspan="6" class="border-top-0 " style="padding:1px;"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>     
        </div>
    </div>
</div>
</form>



<!-- Bootstrap JS (Optional, if you need JavaScript features from Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
                    function dismissFlashMessage(button) {
                        button.parentNode.style.display = 'none';
                    }
                </script> 

{% endblock %}